## generic files to ignore
*~
*.lock
!composer.lock
*.DS_Store
*.swp
*.out

# Java classfiles
*.class

# Maven target dir
/doc
/target

# /.settings/
/.settings/org.maven.ide.eclipse.prefs

.svn*
*/.svn/*
# PHP dependencies and test runtime cache
/vendor/
.phpunit.result.cache
