parameters:
    level: 8
    paths:
        - tests
        - src
    excludePaths:
        analyse:
            - lib
    bootstrapFiles:
        - vendor/autoload.php
    parallel:
        maximumNumberOfProcesses: 1
